<div class="inicio">
    <div class="nombre">
        <h1>ABRAHAM PIZARRO</h1>
        <div class="comuna">
            <p>Puqueldón, Chiloé</p>
        </div>
    </div>
    <div class="imagen">
        <%= image_tag "portafolio.jpg", alt: "portafolio", size:"350x350" %>
    </div>
    
        
</div>